body {
    font-family: Arial, sans-serif;
    background-color: #2D333C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.header {
    margin-bottom: 300px; 
}


.container {
    background-color: #171D25;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.history {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 200px;
}

    .history h2 {
        margin-bottom: 10px;
    }

#historyLog {
    width: 100%;
    height: 800px;
    resize: none;
    background-color: #24282F; 
    color: #FFFFFF; 
}

.reset-button {
    position: absolute;
    bottom: 15px;
    left: 230px; 
}

.main-content {
    text-align: center;
}

.text-body {
    position: absolute;
    right: 0px;
    top: 380px;
    width: 300px;
    background-color: #16191D;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 15px 30px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

    button:hover {
        background-color: #0056b3;
    }

.output {
    color: #fff; 
    font-size: 1.2em;
    margin-top: 20px;
}

.output2 {
    color: #fff; 
    font-size: 1.2em;
    margin-top: 20px;
    position: absolute;
    bottom: 75px;
    left: 255px;
}

.footer {
    margin-top: auto;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}



.footer2 {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    text-align: right;
}

.hotkeyLabel1 {
    font-style: italic;
    font-size: 15px;
    position: absolute;
    bottom: -25px;
    left: 240px;
    width: 300px;
}

.hotkeyLabel2 {
    font-style: italic;
    font-size: 15px;
    position: center;
    text-align: center;
}

@media (max-width: 768px) {
    .header {
        margin-bottom: 20px;
    }

    .container {
        width: 90%;
        padding: 10px;
    }

    .history {
        position: static;
        width: 100%;
        margin-bottom: 20px;
    }

    #historyLog {
        height: 200px;
    }

    .reset-button {
        position: static;
        margin-top: 10px;
    }

    .text-body {
        position: static;
        width: 100%;
        margin-top: 20px;
    }

    .output2 {
        position: static;
        margin-top: 10px;
    }

    .footer2 {
        position: static;
        text-align: center;
        margin-top: 20px;
    }
}