html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2D333C;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    margin-bottom: 20px;
}

.container {
    background-color: #171D25;
    padding: 10px;
    height: 100%;
    margin-top: 100px;
    margin-bottom: 150px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.history {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 200px;
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
}

    .history h2 {
        margin-bottom: 10px;
        color: white;
    }

#remainingLog {
    width: 100%;
    flex-grow: 1;
    resize: none;
    background-color: #24282F;
    color: #FFFFFF;
}

.remaining {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 200px;
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
}

    .remaining h2 {
        margin-bottom: 10px;
        color: white;
    }

#historyLog {
    width: 100%;
    flex-grow: 1;
    resize: none;
    background-color: #24282F;
    color: #FFFFFF;
}

.reset-button-container {
    position: absolute;
    bottom: 35px;
    left: 255px;
}

.reset-button {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

    .reset-button:hover {
        background-color: #0056b3;
    }

.main-content {
    text-align: center;
}

.text-body {
    position: absolute;
    right: 0px;
    top: 380px;
    width: 300px;
    background-color: #16191D;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 15px 30px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

    button:hover {
        background-color: #0056b3;
    }

.output {
    color: #fff;
    font-size: 1.2em;
    margin-top: 20px;
}


.output2 {
    color: #fff;
    font-size: 1.2em;
    margin-top: 20px;
    position: absolute;
    left: 150px;
}

.output3 {
    color: #fff;
    font-size: 1.2em;
    margin-top: 20px;
    position: absolute;
    right: 10px;
}

.footer {
    margin-top: auto;
    padding: 10px 0;
    margin-bottom: -40px;
    width: 100%;
    text-align: center;
}

.footer2 {
    margin-top: auto;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

.hotkeyLabel1 {
    font-style: italic;
    font-size: 15px;
    position: absolute;
    bottom: -25px;
    left: 240px;
    width: 300px;
}

.hotkeyLabel2 {
    font-style: italic;
    font-size: 15px;
    position: absolute;
    bottom: 100px; /* Adjust this value to move the label upwards */
    text-align: center;
    width: 100%;
    height: 25%;
}

@media (max-width: 768px) {
    .header {
        margin-bottom: 20px;
    }

    .container {
        width: 90%;
        padding: 10px;
    }

    .history {
        position: static;
        width: 100%;
        margin-bottom: 20px;
    }

    #historyLog {
        height: 50%;
    }

    .reset-button-container {
        justify-content: center;
    }

    .text-body {
        position: static;
        width: 100%;
        margin-top: 20px;
    }

    .output2 {
        position: static;
        margin-top: 10px;
    }

    .footer2 {
        position: static;
        text-align: center;
        margin-top: 20px;
    }
}
